<h1 class="text-center text-6xl font-semibold min-w-[80vw]">
  안녕하세요!<br />
  <div class="flex items-end justify-center gap-4">
    <div
      class="animate-contain text-primaryColor font-extrabold inline-block h-[3.75rem] overflow-clip"
    >
      <div class="animated-text">
        <span>HTML</span>
        <span>CSS</span>
        <span>JS</span>
        <span>Astro</span>
        <span>React</span>
        <span>Python</span>
        <span>Node</span>
        <span>Database</span>
      </div>
    </div>
    <span class="m-0">개발자, 이준호입니다.</span>
  </div>
</h1>
