---
import Layout from "@layouts/Layout.astro";
// import H1 from "@components/layout/H1.astro";
import Main from "@components/layout/Main.astro";
import Section1 from "@components/about-me/Section1.astro";
import "../styles/about-me.css";
---

<Layout title="About me">
  <Main>
    <div class="pt-10">
      <Section1 />
    </div>
  </Main>
</Layout>
<script src="/about-me.js" is:inline></script>
