---
import Layout from "../layouts/Layout.astro";
import H1 from "../components/layout/H1.astro";
import Main from "../components/layout/Main.astro";
---

<Layout title="About me">
  <Main>
    <H1>About me</H1>
  </Main>
</Layout>
