---
import Layout from "../layouts/Layout.astro";
import H1 from "../components/H1.astro";
import Main from "../components/Main.astro";
---

<Layout title="Home">
  <Main class='pt-16'>
    <H1>Porem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate.</H1>
    <span>2024.06.04</span>
  </Main>
</Layout>


