---
import Layout from "@layouts/Layout.astro";
import Main from "@components/layout/Main.astro";
import H1 from "@components/layout/H1.astro";
import PostList from "@components/post/PostList.astro";

import fetchApi from "@lib/strapi";
import type Article from "@interfaces/article";

const articles = await fetchApi<Article[]>({
  endpoint: "articles?populate=cover",
  wrappedByKey: "data",
});

// console.log(articles);
---

<Layout title="Blog">
  <Main>
    <H1 class="mb-8">Posts</H1>
    <PostList posts={articles} />
  </Main>
</Layout>
