---
import Layout from "@layouts/Layout.astro";
import H1 from "@components/layout/H1.astro";
import Main from "@components/layout/Main.astro";
import BlockList from "@components/project/BlockList.astro";
import Block from "@components/project/Block.astro";
---

<Layout title="Projects">
  <Main>
    <H1>Projects</H1>
    <section class="mt-4">
      <BlockList />
    </section>
  </Main>
</Layout>
