---
type Props = {
  classList?: string;
  postID: number;
  commentID?: number;
};
const { classList, postID, commentID } = Astro.props;
---

<form class={"commentForm " + classList} >
  <div class="flex gap-2 w-full min-h-[150px] my-3">
    <div class="flex gap-2 flex-col min-w-[20rem]">
      <div class="inputDiv">
        <input type="text" name="nickname" id="nickname" placeholder="nickname" />
      </div>
      <div class="inputDiv">
        <input type="email" name="email" id="email" placeholder="example@example.com" />
      </div>
    </div>
    <div class="inputDiv min-h-[150px]">
      <textarea name="content" id="content" placeholder="comment input" class="w-full h-full"
      ></textarea>
    </div>
  </div>
  <button
    type="submit"
    class="rounded-full mr-0 m-auto bg-primaryColor text-secondaryColor px-8 py-4 block"
  >
    Send
  </button>
  <input type="hidden" name="postID" id="postID" value={postID} />
  {commentID ? <input type="hidden" name="commentID" id="commentID" value={commentID} /> : <></>}
</form>
