---
import fetchApi from "@lib/strapi";
import type Comment from "@interfaces/comment";
import type Article from "@interfaces/article";
import CommentComp from "./Comment.astro";
import CommentForm from "./CommentForm.astro";

import "../../styles/comment.css";

type Props = {
  id: Article["id"];
};

const { id } = Astro.props;

const comment = await fetchApi<Comment[]>({
  endpoint: `/comments/api::article.article:${id}`,
});

console.log(comment);
---

<div>
  <h2 class="text-3xl">Comment</h2>
  <CommentForm postID={id} />
  <div class="my-4 gap-4 flex flex-col">
    {comment.map((c) => <CommentComp children={c} postID={id} />)}
  </div>
</div>
<script src="/post/comment.js" is:inline></script>
