---
import type Article from "@interfaces/article";

type Props = {
  updatedAt: Article["attributes"]["updatedAt"];
};

const { updatedAt } = Astro.props;
---

<span class="text-gray-400 font-thin">
  {updatedAt.split("T")[0] + " " + updatedAt.split("T")[1].split(".")[0]}
</span>
